<h1>Cities#new</h1>

<%= form_with model: @city do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    
    
    <p>
      <%= form.submit %>
    </p>
<% end %>