<h1>Categories#index</h1>
<table>
<thead>
<tr>
<th>Name</th>


</tr>
</thead>
<tbody>
<% @categories.each do |c| %>
<tr>
    <td><%= c.name %></td>
    
</tr>
<%end%>
</tbody>
</table>
<div>
<%= link_to "New Category", new_category_path %>
</div>